body{
    background-color: #333;
    color: #fff;
}
.navbar
{
    border-bottom: 3px solid #008ed6;
}

#homeSection
{
    background: url(../img/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 400px;
}

#homeSection .overlay-dark
{
   
    min-height: 400px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}

#homeSection .home-inner
{
    padding-top: 150px;
}
#homeSection .card-form
{
    opacity: 0.8;
}
#homeSection .fas
{
    background: whitesmoke;
    color: #008ed6;
    border:2px solid #008ed6;
    border-radius: 5px;
}

#explore-section .fas
{
    background-color: #333;
    color: whitesmoke;
    border-radius: 5px;
}

#create-section .fas
{
    background-color: whitesmoke;
    color: #008ed6;
    border-radius: 5px;
}

#share-section .fas
{
    background-color: #008ed6;
    color: whitesmoke;
    border-radius: 5px;
}