$primary: #3292a6;
$primary-overlay: rgba(50,146,166,0.7);

body
{
    margin-top: 90px;

}

.navbar
{
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background: whitesmoke;

    .nav-item
    {
        padding-right: 1.4rem;
    }
}

#showcase
{
    background: url(../img/mountains.jpg);
    background-size: cover;
    position: relative;
    min-height: 400px;

    .primary-overlay
    {
        background: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 400px;
        width: 100%;

    }
}

.info-header
{
    width: 50%;
    border-bottom: 1px solid $primary;
    margin: auto;
    padding-bottom: 30px;
}

#author
{
    img{
        margin-top: -50px;
    }
    .card{
        margin: auto;
    }
    .card:hover
    {
        background-color: $primary;
        color: white;

        .fab{
            color: white;
        }
    }
    
}




@media(max-width:768px){
    .mb-responsive
    {
        margin-bottom: 1rem;
    }
}