body{
    
    margin-right: 0px !important;
}
    #mainheader img
{
    width: 100%;
    height: 100%;
}

.port-item
{
    width: 30%;
}
.port-item:hover
{
cursor: pointer;
opacity: 0.8;
}





@media(min-width: 1199px){
.port-item
{
padding: 3em !important;
}
}