body
{
    overflow-x: hidden;
}


#mycarousel .carousel-item
{
    height: 400px;
}

#mycarousel .carousel-image1
{
    background-image: url(../img/image1.jpg);
    background-size: cover;

}
#mycarousel .carousel-image2
{
    background-image: url(../img/image2.jpg);
    background-size: cover;
    
}

#mycarousel .carousel-image3
{
    background-image: url(../img/image3.jpg);
    background-size: cover;
    
}
#home-header
{
    background: url(../img/lights.jpg);
    background-attachment: fixed;
    min-height: 200px;
    position: relative;

}
.dark-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    min-height: 200px;
    color: whitesmoke;
}
.imgsize
{
    height: 300px;
    width: 400px;
}
#videosection
{
    background: url(../img/media.jpg);
    background-attachment: fixed;
    background-position: 0 -300px;
    min-height: 200px;
    position: relative;

}

#aboutheader
{
    background: url(../img/image1.jpg);
    background-position: 0 -300px;
    background-attachment: fixed;
    height: 200px;
   background-size: cover;
}

.about-img
{
    margin-top: -80px;
    margin-left: 45px;
    height: 400px;
    width: 400px;
    margin-bottom: 50px;;
}
#serviceheader
{
    background: url(../img/image1.jpg);
    background-position: 0 -300px;
    background-attachment: fixed;
    height: 200px;
   background-size: cover;
}

#faq card
{
    color: #fff;
  
}
#faq a
{
    color: whitesmoke;
    text-decoration: none;
}
#faq .card-header,
#faq .card-body
{
    background: #333;
}















@media(max-width:768px){
    

.navbar-toggler
{
position: relative;
left: -50px;    }

.imgsize
{
    height: 200px;
    width: 300px;
}

}