body {
  margin-top: 90px;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: whitesmoke;
}
.navbar .nav-item {
  padding-right: 1.4rem;
}

#showcase {
  background: url(../img/mountains.jpg);
  background-size: cover;
  position: relative;
  min-height: 400px;
}
#showcase .primary-overlay {
  background: rgba(50, 146, 166, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
}

.info-header {
  width: 50%;
  border-bottom: 1px solid #3292a6;
  margin: auto;
  padding-bottom: 30px;
}

#author img {
  margin-top: -50px;
}
#author .card {
  margin: auto;
}
#author .card:hover {
  background-color: #3292a6;
  color: white;
}
#author .card:hover .fab {
  color: white;
}

@media (max-width: 768px) {
  .mb-responsive {
    margin-bottom: 1rem;
  }
}
